# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#
proj.mac/Build
proj.ios/Build
proj.android/assets
proj.android/bin
proj.android/obj